body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(40, 46, 59);
    height: 100vh;
    overflow: hidden;
}
.side-container{
    height: 100vh;
}
.side-image{
    position: absolute;
    height: 100vh;
    z-index: -1;
    width: 70vh;
}
.side-body{
    background-color: rgba(0, 0, 0, 0.753);
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    position: relative;
    top: 30vh;
    text-align: center;
    width: 70vh;

}
.side-body h1{
    color:rgb(192, 118, 167);
    font-size: 4em;
    padding: 14px;
    padding-top: 0;
    margin-top: 0;
    font-family: 'Alpha Men', sans-serif;
}
#logo{
    width: auto;
    height: 100px;
    padding: 0;
    margin: 0;
}

.main-container{
    width: 100%;
    margin: 12px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.form{
    padding-left: 12px;
    margin-left: 0;
    display: flex;
    flex-flow: row wrap;
    gap: 20px; 
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #0000003d;
    box-shadow: rgba(201, 121, 174, 0.445) 0px 5px, rgba(238, 123, 196, 0.3) 0px 10px, rgba(155, 78, 126, 0.2) 0px 15px, rgba(230, 96, 181, 0.1) 4px 0px 20px, rgba(240, 46, 170, 0.05) 4px 0px 25px;
}
.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 1.2rem;
    opacity: 80%;
}
.input label{
    color: rgb(214, 177, 214);
}
input{
    border: 2px solid rgb(184, 161, 184);
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 14px;
    background-color: #3c374d50;
    color: #fdcdef;
  }
input:hover{
    border: 2px solid #ffbeeb;
} 
input:focus-visible{
    outline: 2px solid rgba(220, 20, 60, 0);
    border: 2px solid #fcabe3;
    background-color: #3c00ff0c;

}
label, h3, p{
    color: rgb(204, 202, 202);
    font-family: sans-serif;
}
button{
    background-color: rgb(40, 46, 59);
    color:#e097ca;
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid #e097ca;
    border-radius: 14px;
    padding: 10px 40px;
    margin: 40px 0;
    transition: all .2s;
}
button:hover{
    background-color: #e097ca;
    color:#000000;
    transform: scale(1.08);
}
.main-container h3, button, p{
    margin-left: 18px;
}
